@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --fonts: 'Noto Sans', sans-serif;
  --header-clr: rgb(229, 145, 0);
  --main-clr: rgb(192, 192, 192);
  --card-clr: rgb(255, 255, 255);
  --card-box-shadow: 2px 2px 8px rgb(159, 159, 159);
  --gap: 32px;
  --border-radius: 16px;
  --read-clr: rgb(137, 254, 137, 0.5);
  --unread-clr: rgba(255, 101, 101, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fonts);
  background-color: var(--main-clr);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.header {
  background-color: var(--header-clr);
  display: grid;
  place-items: center;
}

.header-title {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    '. books .'
    '. books .';
}

.books {
  grid-area: books;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--gap);
}

.card {
  background-color: var(--card-clr);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  gap: 16px;
  padding: 16px 0;
  box-shadow: var(--card-box-shadow);
}

img[alt='Delete Icon'],
img[alt='Submit Book Icon'] {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

img[alt='Delete Icon']:hover {
  filter: invert(16%) sepia(87%) saturate(6348%) hue-rotate(357deg)
    brightness(96%) contrast(117%);
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.add-book {
  display: grid;
}

.add-book-form {
  background-color: var(--card-clr);
  border-radius: var(--border-radius);
  padding: 16px;
  box-shadow: var(--card-box-shadow);
}

.add-book-form form {
  display: grid;
  gap: 16px;
}

.add-book-form .radio-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.radio-buttons label {
  font-size: 0.85rem;
  font-weight: bold;
  justify-self: center;
}

.read-radio-button,
.unread-radio-button {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
  justify-items: start;
  align-items: center;
}

input[type='radio'] {
  margin: 0;
  height: 15px;
  width: 15px;
  accent-color: grey;
}

input[type='text'],
input[type='tel'],
input[type='text']:focus,
input[type='tel']:focus {
  box-sizing: border-box;
  height: 40px;
  width: max(180px, 100%);
  font-family: var(--fonts);
  font-size: 1.1rem;
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid rgb(231, 231, 231);
  padding: 4px 12px;
  text-align: center;
}

input[type='text']:focus,
input[type='tel']:focus {
  box-shadow: 2px 2px 8px rgb(220, 220, 220);
}

::placeholder {
  text-align: center;
  opacity: 0.8;
}

.add-book-button {
  place-self: center;
}

img[alt='Add Book Icon'] {
  height: 100px;
  width: 100px;
  cursor: pointer;
  filter: invert(44%) sepia(0%) saturate(214%) hue-rotate(219deg)
    brightness(98%) contrast(88%);
}

img[alt='Add Book Icon']:hover {
  filter: none;
}

img[alt='Undo Icon'] {
  height: 15px;
  width: 15px;
  cursor: pointer;
  place-self: end;
}

button[class='submit-book-button'] {
  height: 30px;
  width: 30px;
  padding: 0;
  background: none;
  border: none;
  place-self: center;
}

.icons-bottom {
  display: grid;
}

.card .read,
.card .unread {
  padding: 0 8px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.card .read {
  background-color: var(--read-clr);
}

.card .unread {
  background-color: var(--unread-clr);
}
